body {
}

#categoryDialog{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
}

#expenseDialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
}

#expenseDialog #dialog {
    width: 20%;
    height: 25%;
    background-color: rgba(255,255,255,1);
    margin-left: -10%;
    margin-top: -10%;
    left: 50%;
    top: 50%;
    position: fixed;
    border-radius: 20px;
}

#dialog {
    width: 20%;
    height: 20%;
    background-color: rgba(255,255,255,1);
    margin-left: -10%;
    margin-top: -10%;
    left: 50%;
    top: 50%;
    position: fixed;
    border-radius: 20px;
}

#categoryDialog form{
    margin: 10% 10%;
}

#expenseDialog form {
    margin: 10% 10%;
}

#expenseDialog input {
    margin-top: 10px;
}

#categoryDialog button {
    width: auto;
    padding: 10px 50px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    background: linear-gradient(90deg, rgba(0,205,103,1) 0%, rgba(0,241,255,1) 100%);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#expenseDialog button {
    width: auto;
    padding: 10px 50px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    background: linear-gradient(90deg, rgba(0,205,103,1) 0%, rgba(0,241,255,1) 100%);
    border: 0;
    outline: none;
    border-radius: 30px;
}

form input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #00cd67;
    background: transparent;
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: flex-start;
    height: 100%;
}

.accordion{
    box-shadow: rgba(0,0,0,0.7);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.accordion-item {
    border:none;
    display: none;
}

.accordion-itemActive{
    display:block;
    border: none;
}

.accordion-item:last-child{
    border: none;
}

.accordion-tab {
    background-color: rgba(0,241,255,.25);
    padding: 1rem 2rem;
    flex: 1;
    border: none;
    cursor: pointer;
    transition: background 0.1s;
}

.accordion-tabs:last-child{
    background-color: transparent;
}

.accordion-itemActive {
    background-color: rgba(150,241,255,.25);
}
.accordion-active:not(.accordion-item) {
    background-color: rgba(150,241,255,.25);
}

.accordion-tab:focus{
    outline: none;
}

.accordion-tab:hover {
    background-color: rgba(150,241,255,.25);
}

.accordion-item__label {
    margin: 0;
    padding: 1.25rem;
    cursor: pointer;
    transition: padding .2s ease;
    position: relative;
}

.accordion-item__container {
    padding: 0 1.25em;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: padding .2s ease, opacity .5s .15s ease;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    text-align: left;
}

.accordion-active .accordion-item__label {
    padding-bottom: 0;
    cursor: inherit;
}

.accordion-active .accordion-item__container {
    padding: 1.25em;
    height: auto;
    opacity: 1;
}

.tab-add {
    background-image: url("../resources/plus.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    vertical-align: middle;
}

#newExp{
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.expDate{
    width: 20%;
    text-align: left;
}

.expName {
    width: 60%;
    text-align: left;
}

.expValue {
    width: 20%;
    text-align: left;
}