body {
}

.catBtn {
    border: solid 1px rgba(0,205,103,1);
    padding: 0 5px;
    border-radius: 10px;
    cursor: pointer;
}

.catBtn:hover {
    background: linear-gradient(90deg, rgba(0,205,103,1) 0%, rgba(0,241,255,1) 100%);
}

.lastOperation {
    height: 400px;
    width: 100%;
    border: dashed 1px rgba(0,241,255,1);
    position: relative;
}
