@model AuthenticationVM
<link rel="stylesheet" href="~/css/loginPage.css" />
@{
    ViewData["Title"] = "Login";
    var wrong = ViewData["WrongData"] as string;
}

<div class="login-hero">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Login</button>
            <button type="button" class="toggle-btn" onclick="register()">Register</button>
        </div>
        <div class="social-icons">
            <img src="~/resources/fb.png" />
            <img src="~/resources/google.png" />
        </div>
        <form id="login" class="login-input-group" method="post" asp-action="Login" autocomplete="off">
            @if (wrong == "true")
            {
                <span class="text-danger"> Invalid login or password</span>
            }
            <input type="text" class="login-input-field" placeholder="Login" asp-for="Login.Login" required />
            <input type="password" class="login-input-field" placeholder="Password" asp-for="Login.Password" required />
            <div class="login-check-box">
                <input type="checkbox" asp-for="Login.RememberPassword" /><span>Remember Password</span>
            </div>
            <button type="submit" class="login-submit-btn">Login</button>
        </form>
        <form id="register" class="login-input-group" method="post" asp-action="Register" autocomplete="off">
            <div class="row">
                <span asp-validation-for="Register" class="text-danger"></span>
            </div>
            <input type="text" class="login-input-field" placeholder="Login" asp-for="Register.Login" required />
            <input type="email" class="login-input-field" placeholder="Email" asp-for="Register.Email" required />
            <input type="password" class="login-input-field" placeholder="Password" asp-for="Register.Password" required />
            <input type="password" class="login-input-field" placeholder="Confirm Password" asp-for="Register.ConfirmPassword" required />
            <div class="login-check-box">
                <input type="checkbox" required /><span>I agree to the terms & conditions</span>
            </div>
            <button type="submit" class="login-submit-btn">Register</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/auth.js"></script>
}