@{
    ViewData["Title"] = "Successful registration";
}

<h1>Nice!!!</h1>

<h4>You has been successfully registered. You can now log in into your account and start to organize your budget.</h4>
<h6>Please remember to activate your account.</h6>